# IDE - VSCode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Docker

/docker/**/data

# Development

.data
.ord
.env
inscriptions.tsv

# Dependencies

node_modules

# Distributions

dist

# OS

.DS_Store

# Logs

npm-debug.log*